# Data Anomaly in the EXCEL SHEET
After creating my visuaization diagram I was analyzing it for the possible trends in the data set and I identified a unique observation that people belonging to the **meat group 50-99** had lesser impact on the environment than those belonging to **meat group less than 50** which didn't seemed right and after that I have gone through the excel sheet identified the anomlay which is as follows:

![image.png]()

The grouping column shows that **meat < 50** where as the corresponding diet group shows **meat50** which is incorrect. Similarly for the **meat 50-99** the corresponding diet group listed in the dataset is **meat**.

The first step is to correct the corresponding diet groups in the data.

Import the dataset and display the rows along with displaying the list of columns and respective datatype.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("sample_data/Results_21MAR2022_nokcaladjust (1).csv")

print("Dataset shape:", df.shape)
print("COlumn Datatypes\n",df.dtypes)
print("Column names:", df.columns)
display(df.head())

Dataset shape: (72000, 24)
COlumn Datatypes
 mc_run_id           int64
grouping           object
mean_ghgs         float64
mean_land         float64
mean_watscar      float64
mean_eut          float64
mean_ghgs_ch4     float64
mean_ghgs_n2o     float64
mean_bio          float64
mean_watuse       float64
mean_acid         float64
sd_ghgs           float64
sd_land           float64
sd_watscar        float64
sd_eut            float64
sd_ghgs_ch4       float64
sd_ghgs_n2o       float64
sd_bio            float64
sd_watuse         float64
sd_acid           float64
n_participants      int64
sex                object
diet_group         object
age_group          object
dtype: object
Column names: Index(['mc_run_id', 'grouping', 'mean_ghgs', 'mean_land', 'mean_watscar',
       'mean_eut', 'mean_ghgs_ch4', 'mean_ghgs_n2o', 'mean_bio', 'mean_watuse',
       'mean_acid', 'sd_ghgs', 'sd_land', 'sd_watscar', 'sd_eut',
       'sd_ghgs_ch4', 'sd_ghgs_n2o', 'sd_bio', 'sd_watuse', 'sd_acid',
       'n_participants', 'sex', 'diet_group', 'age_group'],
      dtype='object')

,mc_run_id,grouping,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,...,sd_eut,sd_ghgs_ch4,sd_ghgs_n2o,sd_bio,sd_watuse,sd_acid,n_participants,sex,diet_group,age_group
0,1,fish_female_20-29,5.377071,8.589807,14012.27478,23.553012,1.165277,0.344528,478.802638,669.154382,...,13.788241,0.913103,0.238819,400.289973,402.372408,13.774998,1329,female,fish,20-29
1,1,fish_female_30-39,5.376457,8.620238,15030.26610,23.831419,1.152422,0.326276,469.573862,697.161548,...,13.466037,0.845564,0.210539,375.301226,420.147350,13.077207,2024,female,fish,30-39
2,1,fish_female_40-49,5.169838,8.304831,15441.25934,23.419815,1.095640,0.305898,435.534050,687.733569,...,12.692978,0.773937,0.190561,333.613445,404.151916,12.959012,1689,female,fish,40-49
3,1,fish_female_50-59,4.933744,7.880759,16244.68021,23.459450,0.995247,0.285800,382.097727,686.763592,...,13.825273,0.669932,0.166206,271.061989,429.965087,13.155250,946,female,fish,50-59
4,1,fish_female_60-69,5.428442,8.701867,18364.95302,25.469176,1.127873,0.315651,435.578230,751.050809,...,14.538055,0.907853,0.196968,396.811097,471.376883,14.177048,492,female,fish,60-69

The grouping column is made up by combining the following three coumns:


*   Diet
*   Sex
*   Age

By splitting the grouping column we can correctly idnetify the diet group and update the data.

In [ ]:
df['diet_group'] = df['grouping'].str.split('_').str[0]

Display the data to confirm if the diet group has been corrected or not.

In [ ]:
display(df.head(100))

,mc_run_id,grouping,mean_ghgs,mean_land,mean_watscar,mean_eut,mean_ghgs_ch4,mean_ghgs_n2o,mean_bio,mean_watuse,...,sd_eut,sd_ghgs_ch4,sd_ghgs_n2o,sd_bio,sd_watuse,sd_acid,n_participants,sex,diet_group,age_group
0,1,fish_female_20-29,5.377071,8.589807,14012.27478,23.553012,1.165277,0.344528,478.802638,669.154382,...,13.788241,0.913103,0.238819,400.289973,402.372408,13.774998,1329,female,fish,20-29
1,1,fish_female_30-39,5.376457,8.620238,15030.26610,23.831419,1.152422,0.326276,469.573862,697.161548,...,13.466037,0.845564,0.210539,375.301226,420.147350,13.077207,2024,female,fish,30-39
2,1,fish_female_40-49,5.169838,8.304831,15441.25934,23.419815,1.095640,0.305898,435.534050,687.733569,...,12.692978,0.773937,0.190561,333.613445,404.151916,12.959012,1689,female,fish,40-49
3,1,fish_female_50-59,4.933744,7.880759,16244.68021,23.459450,0.995247,0.285800,382.097727,686.763592,...,13.825273,0.669932,0.166206,271.061989,429.965087,13.155250,946,female,fish,50-59
4,1,fish_female_60-69,5.428442,8.701867,18364.95302,25.469176,1.127873,0.315651,435.578230,751.050809,...,14.538055,0.907853,0.196968,396.811097,471.376883,14.177048,492,female,fish,60-69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,meat 100+_male_70-79,11.665775,20.192413,36910.88984,60.875376,3.010829,0.995341,426.633193,1474.723109,...,27.528400,1.651687,0.564450,215.534563,719.489096,19.594929,168,male,meat 100+,70-79
96,2,meat <50_female_20-29,4.471540,7.029088,14434.85325,23.502225,0.842130,0.324585,252.498677,768.215052,...,12.783315,0.478613,0.204421,174.934919,542.237516,12.461437,764,female,meat <50,20-29
97,2,meat <50_female_30-39,4.595489,7.042227,15238.67863,24.041453,0.855354,0.326030,254.507276,770.994098,...,13.371602,0.511567,0.224267,185.881079,535.922146,13.394366,1483,female,meat <50,30-39
98,2,meat <50_female_40-49,4.565259,7.046582,15160.37490,23.720645,0.870890,0.322645,255.539495,744.317551,...,12.103665,0.471972,0.219373,183.421181,464.465719,12.074019,2093,female,meat <50,40-49
99,2,meat <50_female_50-59,4.567069,6.963084,15607.86548,23.816343,0.892455,0.316790,257.230582,770.469760,...,12.362710,0.469256,0.191711,176.904879,521.021294,12.114463,1698,female,meat <50,50-59

Identify the distinct diet groups included in the dataset.

In [ ]:
print("Distinct diet groups are:")
print(df['diet_group'].unique())

print("\nThe total number of distinct diet groups are:")
print(len(df['diet_group'].unique()))

Distinct diet groups are:
['fish' 'meat 100+' 'meat <50' 'meat50-99' 'vegan' 'veggie']

The total number of distinct diet groups are:
6

Now diet groups have been correctly mapped. Identify the distinct age groups included in the dataset.

In [ ]:
print("Distinct age groups are:")
print(df['age_group'].unique())

print("\nThe total number of distinct age groups are:")
print(len(df['age_group'].unique()))

Distinct age groups are:
['20-29' '30-39' '40-49' '50-59' '60-69' '70-79']

The total number of distinct age groups are:
6

Combine all the columns which is impacting the environment. The combination will be used in the visualization.

In [ ]:
key_environmental_matrices = [
    'mean_ghgs', 'mean_land', 'mean_watscar', 'mean_watuse',
    'mean_eut', 'mean_bio', 'mean_acid'
]

Since the environmental matrices are measured in different units we need to normalize all the key environmental matrices on a same scale.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df[key_environmental_matrices] = scaler.fit_transform(df[key_environmental_matrices])

Describe the features of the normalized environmental matrices.

In [ ]:
df[key_environmental_matrices].describe()

,mean_ghgs,mean_land,mean_watscar,mean_watuse,mean_eut,mean_bio,mean_acid
count,72000.000000,72000.000000,72000.000000,72000.000000,72000.000000,72000.000000,72000.000000
mean,0.197878,0.095929,0.199023,0.162007,0.181012,0.131024,0.236087
std,0.152117,0.114107,0.094411,0.096276,0.121581,0.098320,0.150697
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.106452,0.035280,0.134293,0.099741,0.103965,0.063129,0.152356
50%,0.157355,0.056710,0.180575,0.144774,0.152441,0.104339,0.203772
75%,0.246728,0.107588,0.244603,0.200431,0.228351,0.172529,0.295514
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

The dataset contains simulation of multiple runs. We will use the mean of all simulations. Find the mean of the all environmental matrices which will be used later on in the treemap visualization

In [ ]:
df['mean_environmental_score'] = df[key_environmental_matrices].mean(axis=1)

df[['diet_group', 'sex', 'age_group', 'mean_environmental_score'] + key_environmental_matrices].head()

,diet_group,sex,age_group,mean_environmental_score,mean_ghgs,mean_land,mean_watscar,mean_watuse,mean_eut,mean_bio,mean_acid
0,fish,female,20-29,0.144621,0.146738,0.063621,0.123640,0.129890,0.153460,0.226080,0.168919
1,fish,female,30-39,0.148271,0.146714,0.063949,0.137388,0.137146,0.155965,0.221237,0.175497
2,fish,female,40-49,0.144214,0.138615,0.060551,0.142938,0.134703,0.152262,0.203374,0.177053
3,fish,female,50-59,0.139568,0.129360,0.055982,0.153788,0.134452,0.152618,0.175331,0.175447
4,fish,female,60-69,0.159960,0.148752,0.064828,0.182421,0.151108,0.170700,0.203397,0.198514

Group the data based on the diet group, gender and age group to find the mean number of participants and mean evironmental score.

In [ ]:
df_aggregated = df.groupby(['diet_group', 'sex', 'age_group']).agg({
    'n_participants': 'mean',
    'mean_environmental_score': 'mean'
}).reset_index()

Sum the total number of participants to verify it matches the total or not.

In [ ]:
total_participants = df_aggregated['n_participants'].sum()
print("Total participants:", int(total_participants))

Total participants: 55504

Display the aggregated data which contains all the necessary information needed for visualization.

In [ ]:
display(df_aggregated.head())

  diet_group     sex age_group  n_participants  mean_environmental_score
0       fish  female     20-29          1329.0                  0.124564
1       fish  female     30-39          2024.0                  0.126037
2       fish  female     40-49          1689.0                  0.124027
3       fish  female     50-59           946.0                  0.123250
4       fish  female     60-69           492.0                  0.139206

In [ ]:
df_aggregated.to_csv("grouped_data.csv", index=False)